<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
    </head>
    <body>
        <h1>Welcome Symfony4</h1>
        <h3>{{ app.request.attributes.get('_route') }}</h3>
    </body>
</html>
